<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Réservation Sport{% endblock %}</title>

    <!-- CSS principal -->
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">

    {% block stylesheets %}
    {# Tu peux ajouter ici d'autres fichiers CSS si besoin #}
    {% endblock %}
</head>
<body>

    {% block body %}
    {# Contenu des pages filles ici #}
    {% endblock %}

    <!-- JS principal -->
    <script src="{{ asset('js/accueil.js') }}"></script>

    {% block javascripts %}
    {# Tu peux ajouter ici d'autres scripts si besoin #}
    {% endblock %}
</body>
</html>